{% extends "base.html" %}
{% block title %} Home
{% endblock %}
{% block content %}
<br>
<br>
<br>
<section id = "home">
    <div class = "container text-center">
        <h1> FUNZIONI DISPONIBILI SULLA DASHBOARD </h1>
        <div class = "row">
            <div class = "col-md-4 servizio">
                <img src = "images/client.png" class = "servizio-img">
                <h4> <b> ANALISI SCOSTAMENTO PER CLIENTE  </b> </h4>
                <p> inserendo il codice del cliente sarà possibile generare gli scostamenti.</p>
            </div>
            <div class = "col-md-4 servizio">
                <img src = "images/distributed.png" class = "servizio-img">
                <h4> <b> ANALISI SCOSTAMENTO PER ARTICOLO  </b> </h4>
                <p> inserendo il codice dell'articolo sarà possibile generare gli scostamenti.</p>
            </div>
            <div class = "col-md-4 servizio">
                <img src = "images/monitor.png" class = "servizio-img">
                <h4> <b> PANORAMICA SITUAZIONE AZIENDALE </b> </h4>
                <p> riassunto sull' attività aziendale </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}
