*
{
    margin: 0;
    padding: 0;
}

body
{
font-family: serif;
}

/**---------------------HOME ----------------------**/

#home{
  padding: 30px 10;
}

servizio-img{
    width: 100px;
    margin-top: 20px;
}

servizio{
    padding: 20px;
}

.servizio h4 {
    padding: 5px;
    margin-top: 20px;
    text-transform: uppercase;
}

